@charset "utf-8";

/* 将棋盤 */
#board {
  display: flex;
  align-content: flex-start;
  box-sizing: content-box;
  margin: 30px auto 0 auto;
  width: 540px;
  height: 540px;
}

/* ひとマス */
.cell {
  width: 60px;
  height: 60px;
  border: 1px solid #ccc;
}
.cell:hover {
  background-color: #eee;
}
.cell::before {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 32px;
  text-align: center;
  line-height: 60px;
}
.OU::before { content: "王"; }
.GY::before { content: "玉"; }
.HI::before { content: "飛"; }
.KA::before { content: "角"; }
.KI::before { content: "金"; }
.GI::before { content: "銀"; }
.KE::before { content: "桂"; }
.KY::before { content: "香"; }
.FU::before { content: "歩"; }

.white {

}

.black {
  transform:scale(-1, -1);
}