@charset "utf-8";

#board {
  display: flex;
  align-content: flex-start;
  box-sizing: content-box;
  margin: 30px auto 0 auto;
  width: 540px;
  height: 540px;
  border: 1px solid #ccc;
}
.cell {
  width: 60px;
  height: 60px;
  border-bottom: 1px solid red;
  border-right: 1px solid red;
}
.cell